header {
	width: 100%;
	height: 100px;
	background-color: grey;
}

.side-bar-1 {
	width: 100px;
	height: 1000px;
	float: left;
	background-color: darkgrey;
	display: inline-block;
	
}

.side-bar-2 {
	width: 100px;
	height: 1000px;
	float: right;
	background-color: darkgrey;
	display: inline-block;

}

.content {
	width:85.95%;
	height:900px;
	background-color: white;
	display: inline-block;
}

footer {
	width: 85.95%;
	height: 100px;
	background-color: black;
	display: inline-block;
}